<div class="wrapper bgwhite centre-homepage">


    <div class="hometext">The one stop place for all your pooja requirements!</div>

        <!--<div class="input-group input-group-lg">
            <input type="text" class="form-control input-lg" id="search-church" ng-model="asyncSelected"
                   uib-typeahead="address for address in getSearchLocation($viewValue)"
                   typeahead-loading="loadingLocations"
                   typeahead-no-results="noResults" placeholder="Your location (City, State, ZIP)">
      <span class="input-group-btn">
        <button class="btn btn-success btn-lg" ng-click="openList(chosenplace)" type="button">Find Poojari!</button>
      </span>
        </div>
        <br>
        <div class="list-group cssFade" ng-show="isOpenPoojariList">
            <a ng-href="#/order/9049029019" class="list-group-item warning"> Ramesh 9049029019</a>
            <a href="#" class="list-group-item list-group-item-success">Suresh 893209302</a>
            <a href="#" class="list-group-item">Nagarjuna 832920932</a>
        </div>-->



      <a class="btn btn-success button" href="#/order/1">Book Now</a>

</div>



