<div ng-controller="View0Ctrl">




    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    <script type="text/ng-template" id="customPopupTemplate.html">
        <div class="custom-popup-wrapper"
             ng-style="{top: position().top+'px', left: position().left+'px'}"
             style="display: block;"
             ng-show="isOpen() && !moveInProgress"
             aria-hidden="{{!isOpen()}}">
            <p class="message">select location from drop down.</p>

            <ul class="dropdown-menu" role="listbox">
                <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                    ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                </li>
            </ul>
        </div>
    </script>



    <div class="col-md-2" ></div>
    <div class="col-md-8 center-block">

        <form class="form-inline home-place-find" role="form">
            <div class="col-md-2"></div>
         <!--   <div class="form-group">
                <input type="text" class="form-control" id="inputEmail" placeholder="City" ng-model="chosenPlace" googleplace>
            </div>

            -->

            <div class="form-group">
            <input type="text" ng-model="asyncSelected" placeholder="Location"
                   uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations"
                   typeahead-no-results="noResults" class="form-control input-lg">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class=" col-md-1" ></div>
            <button type="button" ng-click="openList(chosenplace)" class="btn  btn-lg btn-success ">Find A Poojari!</button>
        </form>

    <br>


    <div class="list-group cssFade col-md-6" ng-show="isOpenPoojariList">
        <a href="#" class="list-group-item warning"> Ramesh          9049029019</a>
        <a href="#" class="list-group-item list-group-item-success">Suresh         893209302</a>
        <a href="#" class="list-group-item">Nagarjuna         832920932</a>
    </div>


    </div>
</div>



